@{
    Layout = "_AuthLayout";
}

<div class="min-vh-100 d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-3 fw-bold text-primary mb-5">ClassroomsMS</h1>
    <div class="d-flex gap-3">
        <a asp-action="Login" class="btn btn-primary btn-lg px-5">Login</a>
        <a asp-action="Signup" class="btn btn-outline-primary btn-lg px-5">Signup</a>
    </div>
</div>
